<settings>
  <setting name="dock-layers-minimized" type="System.Boolean">False</setting>
  <setting name="dock-history-minimized" type="System.Boolean">False</setting>
  <setting name="ruler-metric" type="System.Int32">0</setting>
  <setting name="window-maximized" type="System.Boolean">True</setting>
  <setting name="ruler-shown" type="System.Boolean">False</setting>
  <setting name="image-tabs-shown" type="System.Boolean">True</setting>
  <setting name="toolbar-shown" type="System.Boolean">True</setting>
  <setting name="statusbar-shown" type="System.Boolean">True</setting>
  <setting name="toolbox-shown" type="System.Boolean">True</setting>
  <setting name="pixel-grid-shown" type="System.Boolean">False</setting>
  <setting name="last-dialog-directory" type="System.String">file:///home/alex/media/wallpaper</setting>
  <setting name="last-selected-tool" type="System.String">RectangleSelectTool</setting>
  <setting name="primary-color" type="System.String">FF000407</setting>
  <setting name="secondary-color" type="System.String">FFFFFFFF</setting>
  <setting name="recently-used-colors" type="System.String">FF202020,FF000407,00000000,FF000000,FFFF0000,FFE5E5E5,FFE5E5E5,FFE5E5E5,FFE5E5E5,FFE5E5E5</setting>
  <setting name="paintbrushtool-antialias" type="System.Int32">0</setting>
  <setting name="paintbrushtool-brush-width" type="System.Int32">2</setting>
  <setting name="paint-brush-brush" type="System.Int32">0</setting>
  <setting name="color-picker-sample-size" type="System.Int32">0</setting>
  <setting name="jpg-quality" type="System.Int32">100</setting>
  <setting name="default-image-type" type="System.String">jpg</setting>
  <setting name="paintbuckettool-fill-mode" type="System.Int32">0</setting>
  <setting name="paintbuckettool-fill-tolerance" type="System.Int32">0</setting>
  <setting name="selection-combine-mode" type="System.Int32">0</setting>
  <setting name="erasertool-antialias" type="System.Int32">0</setting>
  <setting name="erasertool-brush-width" type="System.Int32">2</setting>
  <setting name="eraser-erase-type" type="System.Int32">0</setting>
  <setting name="color-picker-tool-selection" type="System.Int32">0</setting>
  <setting name="color-picker-sample-type" type="System.Int32">0</setting>
  <setting name="rectangletool-antialias" type="System.Int32">0</setting>
  <setting name="rectangletool-brush-width" type="System.Int32">2</setting>
  <setting name="rectangletool-fill-style" type="System.Int32">0</setting>
  <setting name="rectangletool-shape-type" type="System.Int32">1</setting>
  <setting name="rectangletool-dash-pattern" type="System.String">-</setting>
  <setting name="text-font" type="System.String">Arial 12</setting>
  <setting name="text-bold" type="System.Boolean">False</setting>
  <setting name="text-italic" type="System.Boolean">False</setting>
  <setting name="text-underline" type="System.Boolean">False</setting>
  <setting name="text-alignment" type="System.Int32">2</setting>
  <setting name="text-style" type="System.Int32">0</setting>
  <setting name="text-outline-width" type="System.Int32">2</setting>
  <setting name="new-image-width" type="System.Int32">600</setting>
  <setting name="new-image-height" type="System.Int32">600</setting>
</settings>